{% extends 'base.html' %}

{% block title %}
  Об авторе проекта
{% endblock %}
{% block content %}
  <h1>Привет! Я, Олег Маслов.</h1>
  <p>Мне 33 года. Родился и жил до 27 лет в Республике Беларусь. 
      Последние 6 лет живу в городе Санкт-Петербурге. 
      В Беларуси получил высшее образование по специальности инженер путей сообщения - строитель. 
      На железной дороге проработал 2 года. Далее переехал в Санкт-Петербург и устроился менеджером 
      отдела аренды и продажи, где и работаю по настоящее время. Всегда хотелось попробовать себя 
      в роли разработчика и поэтому последние 3 года периодически занимался самообразованием. 
      Пробовал изучать HTML, CSS, JS, Python. 
      Решив воплотить мечту в реальность пришел в Яндекс.Практикум на курс Python-разработчик.</p>
{% endblock %}